<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ssgz.audio_device_detection">

    <!-- Android 11 (API 30) 이하에서 필요한 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Android 12 (API 31) 이상에서 필요한 블루투스 연결 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>
